.fi-social-facebook{
	color: #3b5998;
	font-size: 2em;
	}
.fi-social-twitter{
	color: #4099FF;
	font-size: 2em;
	}
.fi-social-instagram{
	color: #8F6113;
	font-size: 2em;
	}
.label a{
	color: #BBBBBB;
	}