.version.servicios /* version checker */
{
	color: #0000E0;
	background-color: #A19C0E;
}

.html
{
	background: #FFFFFF url("../images/avatar.jpg") no-repeat right bottom scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1224px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -44px;
	width: 0.01px;
}

#pu101
{
	width: 0.01px;
}

#u101
{
	z-index: 3;
	width: 230px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u99-4
{
	z-index: 4;
	width: 169px;
	min-height: 47px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 31px;
}

#menuu103
{
	z-index: 8;
	width: 447px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 494px;
}

#u111
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
}

#u112
{
	width: 110px;
	padding-bottom: 17px;
}

#u112:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u112:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u113-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u112:hover #u113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u112:active #u113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u104
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 112px;
}

#u107
{
	width: 110px;
	padding-bottom: 17px;
}

#u112.MuseMenuActive,#u107:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u107:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u109-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u112.MuseMenuActive #u113-4,#u107:hover #u109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u107:active #u109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u119
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 224px;
}

#u122
{
	width: 110px;
	padding-bottom: 17px;
}

#u107.MuseMenuActive,#u122:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u122:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u122.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u107.MuseMenuActive #u109-4,#u122:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u122:active #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u122.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u126
{
	width: 111px;
	min-height: 34px;
	margin-right: -10000px;
	left: 336px;
}

#u129
{
	width: 111px;
	padding-bottom: 17px;
}

#u129:hover
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u129:active
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u129.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u130-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u129:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u129:active #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u129.MuseMenuActive #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u307-4
{
	z-index: 37;
	width: 155px;
	min-height: 28px;
	background-color: transparent;
	line-height: 43px;
	margin-left: 785px;
	margin-top: 16px;
	position: relative;
}

#u377
{
	z-index: 92;
	width: 920px;
	min-height: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 37px;
	position: relative;
}

#pamphletu308
{
	z-index: 41;
	width: 0.01px;
	height: 127px;
	padding-bottom: 187px;
	margin-left: 72px;
	margin-top: 39px;
	position: relative;
}

#u313
{
	position: absolute;
	width: 597px;
	background-color: transparent;
	left: 210px;
}

#u313popup
{
	z-index: 42;
}

#u324
{
	z-index: 43;
	width: 597px;
	height: 314px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u325-7
{
	z-index: 44;
	width: 566px;
	min-height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u327
{
	z-index: 49;
	width: 321px;
	background-color: transparent;
}

#u327_img
{
	padding-right: 6px;
	padding-bottom: 16px;
}

#u325-2
{
	color: #7F7F7F;
}

#u319
{
	z-index: 54;
	width: 597px;
	height: 314px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u320-7
{
	z-index: 55;
	width: 566px;
	min-height: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u322
{
	z-index: 60;
	width: 334px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u322_clip
{
	overflow: hidden;
	width: 334px;
	height: 222px;
}

#u322_img
{
	margin-right: -24px;
	margin-bottom: -29px;
}

#u314
{
	z-index: 65;
	width: 597px;
	height: 314px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u315-7
{
	z-index: 66;
	width: 564px;
	min-height: 209px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u325-3,#u320-3,#u315-3
{
	line-height: 22px;
}

#u326,#u321,#u316
{
	float: left;
	margin-right: 17px;
}

#u317
{
	z-index: 71;
	width: 299px;
	background-color: transparent;
}

#u317_img
{
	padding-right: 114px;
	padding-bottom: 2px;
}

#u331
{
	z-index: 76;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 10px;
}

#u334
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -7px;
	left: -10px;
}

#u334:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u335-4
{
	z-index: 78;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u334:hover #u335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u334.PamphletThumbSelected #u335-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u334:hover #u335-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u336
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: 33px;
	left: -10px;
}

#u334.PamphletThumbSelected,#u336:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u337-4
{
	z-index: 83;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u336:hover #u337-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u336.PamphletThumbSelected #u337-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u336:hover #u337-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u332
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 73px;
	left: -10px;
}

#u336.PamphletThumbSelected,#u332:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u332.PamphletThumbSelected
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u333-4
{
	z-index: 88;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u332:hover #u333-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 5px -10000px 0px 0px;
}

#u332.PamphletThumbSelected #u333-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 5px -10000px 0px 0px;
}

#u332:hover #u333-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u334.PamphletThumbSelected #u335-4 p,#u336.PamphletThumbSelected #u337-4 p,#u332.PamphletThumbSelected #u333-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u149-4
{
	z-index: 33;
	width: 155px;
	min-height: 23px;
	margin-top: 267px;
}

#u148
{
	z-index: 2;
	height: 19px;
}

#u148-bw
{
	z-index: 2;
	margin-top: 2px;
	height: 19px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

